<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>IDMDataFlow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IntegrationLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ModelLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F99D51D1D65A3600072EDBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F99D5371D65A3A80072EDBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F99D5491D65A3B50072EDBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F99D55A1D65A3C00072EDBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
